{% extends 'BTNaoBundle::layout.html.twig' %}
{% block title %} Adhérer - {{ parent() }} {% endblock %}
{% block body %}
{% image '@BTNaoBundle/Resources/public/images/adhesion.jpg' %}
    <div class="parallax" style="background-image:url({{ asset_url }})">
        {% endimage %}
        <div class="container">
            <h1 class="text-adhesion">En adhérant à NAO, vous soutenez activement
                la protection des oiseaux.</h1>
        </div>
    </div>
    <div class="container adherer">
       <div class="row">
           <div class="col-md-6">
               {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_widget(form.firstname) }}
                            {{ form_errors(form.firstname) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_widget(form.lastname) }}
                            {{ form_errors(form.lastname) }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form_widget(form.email) }}
                            {{ form_errors(form.email) }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form_widget(form.message) }}
                            {{ form_errors(form.message) }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form_widget(form.submit, {'label': 'Soumettre'}) }}
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>

           </div>
           <div class="col-md-6 adherer-text">
            <p>Pour adhérer à notre association, remplissez le formulaire et nous vous recontacterons dans les plus brefs délais. Si vous le souhaitez, venez nous rencontrer dans nos locaux au 7 Cité Paradis 75010 Paris, du Lundi au Samedi de 10h à 15h.</p>
               {% for success in app.flashes('success') %}
                   <div class="alert alert-success">
                       {{ success }}
                   </div>
               {% endfor %}
               {% for error in app.flashes('error') %}
                   <div class="alert alert-danger">
                       {{ error }}
                   </div>
               {% endfor %}
           </div>
       </div>
    </div>
    <div id="mapid" style="height: 350px">
    </div>
    <script>
        var mymap = L.map('mapid').setView([48.874727, 2.350552], 17);
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiYWxlY2t2aW5jZW50IiwiYSI6ImNqOWgxcmVnZzJ6YjYycXQ0c2lwd3NwYWQifQ.ECfnUX5KCYOByUbS0noiLg', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox.streets',
            accessToken: 'pk.eyJ1IjoiYWxlY2t2aW5jZW50IiwiYSI6ImNqOWgxcmVnZzJ6YjYycXQ0c2lwd3NwYWQifQ.ECfnUX5KCYOByUbS0noiLg',
            scrollWheelZoom: false
        }).addTo(mymap);
        L.marker([48.874727, 2.350552],
            {
                title: '19 rue Saint Colombe 75004'
            }
        ).addTo(mymap);
    </script>
{% endblock %}

