{% extends 'BTAdminBundle::layout.html.twig' %}
{% block body %}
   <h1  class="titre-informations ">Modification de votre mot de passe </h1>
      
      <p>
            {% for message in app.flashes('modif1') %}
        <div class="alert alert-success">
                {{ message }}
        </div>
            {% endfor %}
        </p>
          {{ form_errors(form.oldPassword) }}
      <div class="col-md-8  position-informations ">
    
        {{ form_start(form) }}
       <div class="row">
          <div class="col-sm-12 col-md-12 ">
        </div>
            <div class="row">

              <div class="col-sm-12 col-md-12">
             <strong>Votre ancien mot de passe</strong>
                    {{ form_widget(form.oldPassword) }}
              
                </div>
                <div class="col-sm-12 col-md-12">
                    {{ form_widget(form.newPassword) }}
                </div>
  
            </div>
            <div class="form-group">
                <div class="text-left">

        {{ form_widget(form.save,{'label':  "Valider les informations ", 'attr': {'class': 'btn btn-default btn-four'}})}}
                </div>
            </div>
        {{ form_end(form) }}
    </div>

{% endblock %}