{% extends 'BTAdminBundle::layout.html.twig' %}
{% block body %}
<div class="container">
<div class="card card-container place2">
<img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
<p id="profile-name" class="profile-name-card"></p>
    {% for message in app.flashes('error') %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endfor %}
{{ form_start(form) }}

{{ form_widget(form.email,{'attr':  {'placeholder': 'Votre email'}})}}

{{ form_widget(form.save,{'label':  "Réinitialiser le compte ", 'attr': {'class': 'btn btn-default btn-four place-btn'}})}}

{{ form_end(form) }}


</div>
</div>



{% endblock %}